.card-large-dash-board-element{
    width: 40vw;
    height: 35vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
}